<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
</head>
<body>
    <div class="site">
        <div class="site__header">
            <div class="site__search">
                <img src="./images/site/header/Serch.png" alt="">
                <input type="text" placeholder="Search your entertainment">
            </div>
            <div class="site__button">
                <button><img src="./images/site/header/TV.png" alt=""></button>
            </div>
            <div class="site__button">
                <button><img src="./images/site/header/Radio.png" alt=""></button>
            </div>
            <div class="site__button">
                <button><img src="./images/site/header/Bell.png" alt=""></button>
            </div>
            <div  class="site__account">
                <img src="./images/site/header/Pro Pic.png" alt="">
                <h2>AF Shinchan</h2>
                <img src="./images/site/header/Crown.png" alt="">
                <p>Premium</p>
            </div>
        </div>
        <div class="site__logo">
            <div class="site__trend">
                <p>// TRENDING</p>
                <h2>Akcent feat Lidia <br>
                    Buble & DDY Nunes</h2>
                <h3>- Kamelia</h3>
            </div>
            <button>PLAY <img src="./images/site/logo/Play.png" alt=""></button>
            <button class="btn"><img src="./images/site/logo/Share.png" alt=""></button>
            <div class="site__pagination">
                <img src="./images/site/logo/Rectangle 2.png" alt="">
                <img src="./images/site/logo/Rectangle 2.1.png" alt="">
                <img src="./images/site/logo/Rectangle 2.png" alt="">
                <img src="./images/site/logo/Rectangle 2.png" alt="">
            </div>
        </div>
        <h2>Featured Tracks</h2>
        <div class="site__content">
            <div class="site__tracks">
                <img src="./images/site/content/Rectangle (1).png" alt="">
                <h3>Sucker</h3>
                <p>Jonas Brothers</p>
            </div>
            <div class="site__tracks">
                <img src="./images/site/content/Mask Copy.png" alt="">
                <h3>I Don’t Care</h3>
                <p>Ed Sheeran & Bieber's</p>
            </div>
            <div class="site__tracks">
                <img src="./images/site/content/Rectangle Copy 12.png" alt="">
                <h3>Old Town Road</h3>
                <p>Lil Nas</p>
            </div>
            <div class="site__tracks">
                <img src="./images/site/content/Rectangle Copy 13.png" alt="">
                <h3>Can't Let Go</h3>
                <p>Feydee</p>
            </div>
            <div class="site__tracks">
                <img src="./images/site/content/Mask.png" alt="">
                <h3>I need Your love</h3>
                <p>Faydee</p>
            </div>
            <div class="site__tracks">
                <img src="./images/site/content/Rectangle Copy 15.png" alt="">
                <h3>Otilia</h3>
                <p>Bilionera</p>
            </div>
            <div class="site__tracks">
                <img src="./images/site/content/Rectangle Copy 16.png" alt="">
                <h3>Kamelia</h3>
                <p>DDY Nunes</p>
            </div>
        </div>
        <h2>Top Tracks</h2>
        <div class="site__top-content">
            <div class="site__title">
                <p>#</p>
                <p>Song</p>
                <p>Artist</p>
                <p>Daily Plays</p>
                <p>Time</p>
                <p>Option</p>
            </div>
            <div class="site__playlist">
                <p>1</p>
                <img src="./images/site/top-content/Favourite.png" alt="">
                <p>Dame Dame</p>
                <p>Claydee feat</p>
                <p>39,566</p>
                <p>4:21</p>
                <img src="./images/site/top-content/Download Items.png" alt="">
                <img src="./images/site/top-content/Share.png" alt="">
                <p>...</p>
            </div>
            <div class="site__playlist-selected">
                <img src="./images/site/top-content/Voice_recorder.png" alt="">
                <img src="./images/site/top-content/Favourite.png" alt="">
                <p>Kamelia</p>
                <p>DDY Nunes</p>
                <p>32,420</p>
                <p>3:30</p>
                <img src="./images/site/top-content/Download Items.png" alt="">
                <img src="./images/site/top-content/Share.png" alt="">
                <p>...</p>
            </div>
            <div class="site__playlist">
                <p>3</p>
                <img src="./images/site/top-content/Favourite.png" alt="">
                <p> Laugh Till You Cry</p>
                <p>Faydee</p>
                <p>28,221</p>
                <p>3:56</p>
                <img src="./images/site/top-content/Download Items.png" alt="">
                <img src="./images/site/top-content/Share.png" alt="">
                <p>...</p>
            </div>
            <div class="site__playlist">
                <p>4</p>
                <img src="./images/site/top-content/Favourite.png" alt="">
                <p>I don't know</p>
                <p>Deejay Fly</p>
                <p>21,528</p>
                <p>2:26</p>
                <img src="./images/site/top-content/Download Items.png" alt="">
                <img src="./images/site/top-content/Share.png" alt="">
                <p>...</p>
            </div>
        </div>
        <div class="site__top-content-mobile">
            <div class="site__playlist-mobile">
                <img src="./images/site/top-content/Rectangle.png" alt="">
                <div>
                    <h4>Closer (feat. Halsey)</h4>
                    <p>The Chainsmokers feat. Halsey</p>
                </div>
                <p>3:13</p>
            </div>
            <div class="site__playlist-mobile">
                <img src="./images/site/top-content/Rectangle (1).png" alt="">
                <div>
                    <h4>7 Rings</h4>
                    <p>Ariana Grande's </p>
                </div>
                <p>3:13</p>
            </div>
            <div class="site__playlist-mobile">
                <img src="./images/site/top-content/Rectangle (2).png" alt="">
                <div>
                    <h4>TAKI TAKI</h4>
                    <p> </p>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>