<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <div class="footer">
        <div class="footer__information">
            <img src="./images/footer/Rectangle Copy 17.png" alt="">
            <h4>Kamelia</h4>
            <p>Akcent ft Lidia <br> 
                Buble&DDY Nunes</p>
                <img src="./images/footer/Play List.png" alt="">
        </div>
        <div class="footer__player">
            <img src="./images/footer/Loading.png" alt="">
            <img src="./images/footer/Options.png" alt="">
            <img src="./images/footer/Backward.png" alt="">
            <div class="footer__play">
                <img src="./images/footer/Ellipse.png" alt="">
                <img src="./images/footer/Ellipse (1).png" alt="">
                <img src="./images/footer/Pause.png" alt="">
            </div> 
            <img src="./images/footer/Backward (1).png" alt="">
            <span class="time"><p>02:54</p></span>
            <div class="footer__progress">
                <img src="./images/footer/Rectangle.png" alt="">
                <img src="./images/footer/Rectangle (1).png" alt="">
            </div>
            <span class="full-time"><p>03:29</p></span>
            <img src="./images/footer/Louder.png" alt="">
            <img src="./images/footer/Window.png" alt="">
        </div>
        <div class="footer__mobile">
            <img src="./images/footer/Oval 2.1.png" alt="">
            <img src="./images/footer/Discover.png" alt="">
            <img src="./images/footer/Rectangle (2).png" alt="">
            <img src="./images/footer/Home.png" alt="">
            <img src="./images/footer/TV.png" alt="">
            <img src="./images/footer/Radio.png" alt="">
            <img src="./images/footer/Bell.png" alt="">
            <img src="./images/footer/Path 3.png" alt="">
        </div>
    </div>
</body>
</html>