<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar__logo">
            <img src="./images/nav-bar/Mask Group.png" alt="">
        </div>
        <input type="image" src="./images/nav-bar/menu (1).png">
        <nav class="nav-bar__item">
            <ul>
                <li class="blue"> <span><img src="./images/nav-bar/Discover.png" alt=""></span> Discover</li>
                <li> <span><img src="./images/nav-bar/Songs.png" alt=""></span> Songs</li>
                <li> <span><img src="./images/nav-bar/Albums.png" alt=""></span> Albums</li>
                <li> <span><img src="./images/nav-bar/Artists.png" alt=""></span> Artists</li>
                <li> <span><img src="./images/nav-bar/YouTube.png" alt=""></span> YouTube</li>
            </ul>
            <p>My Tracks</p>
            <ul>
                <li> <span><img src="./images/nav-bar/Favourite.png" alt=""></span> Favourite</li>
                <li> <span><img src="./images/nav-bar/Recent History.png" alt=""></span> Recent History</li>
                <li> <span><img src="./images/nav-bar/Download Items.png" alt=""></span> Download Items</li>
                <li> <span><img src="./images/nav-bar/Local Files.png" alt=""></span> Local Files</li>
            </ul>
            <div>
                <p>Playlist <span><img class="plus" src="./images/nav-bar/Plus.png" alt=""></span></p> 
            </div>
            <ul>
                <li> <span><img src="./images/nav-bar/Add.png" alt=""></span> Bangla</li>
                <li> <span><img src="./images/nav-bar/Add.png" alt=""></span> English</li>
                <li> <span><img src="./images/nav-bar/Add.png" alt=""></span> My Style</li>
                <li> <span><img src="./images/nav-bar/Add.png" alt=""></span> Hindi</li>
            </ul>
        </nav>
    </div>
</body>
</html>